@page "/"



@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager Navigation
@inject IJSRuntime JS




<EditForm Model="@login"
          OnValidSubmit="@HandleValidSubmit"
          FormName="LoginForm"
          EnableEnhancedForm="false">
    <DataAnnotationsValidator />
    @* <ValidationSummary /> *@

    <div class="form-container">
        <h3>Login</h3>
        <label>Username:</label><br />
        <InputText @bind-Value="login.USERNAME" class="form-control" />
        <ValidationMessage For="@(() => login.USERNAME)" />
        <br />

        <label>Password:</label><br />
        <InputText @bind-Value="login.PASSWORD" class="form-control" type="password" />
        <ValidationMessage For="@(() => login.PASSWORD)" />
        <br />

        <button type="submit">Login</button>
        <p>
        <a href="/Signup" class="btn btn-link">Sign up</a>
        </p>

    </div>
</EditForm>

@code {
    private LoginModel login = new();

    private async void HandleValidSubmit()
    {
        var json = await JS.InvokeAsync<string>("localStorage.getItem", "users");
        List<User> users = string.IsNullOrWhiteSpace(json)
            ? new List<User>()
            : System.Text.Json.JsonSerializer.Deserialize<List<User>>(json);

        var matchingUser = users.FirstOrDefault(u =>
            u.Username == login.USERNAME && u.Password == login.PASSWORD);

        if (matchingUser is not null)
        {
            Navigation.NavigateTo("/home");
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Invalid username or password.");
        }
    }

    public class LoginModel
    {
        [Required(ErrorMessage = "Username is required")]
        public string USERNAME { get; set; } = string.Empty;

        [Required(ErrorMessage = "Password is required")]
        public string PASSWORD { get; set; } = string.Empty;
    }

    public class User
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}
